<a href="https://colab.research.google.com/github/anandaraj7385/Python_Code/blob/main/Day_8_Strings_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python Strings**

In [ ]:
print("hello pycoders")

hello pycoders

In [ ]:
print('hello pycoders')

hello pycoders

In [ ]:
print("i'm boy")

i'm boy

In [ ]:
print("hello")
print("pycoders")
print("SECE")

hello
pycoders
SECE

Python string is the **collection of the characters** surrounded by single quotes, double quotes, or triple quotes. The computer does not understand the characters; internally, it stores manipulated character as the combination of the 0's and 1's.

Each character is encoded in the ASCII or Unicode character. So we can say that Python strings are also called the collection of Unicode characters.

In Python, strings can be created by enclosing the character or the sequence of characters in the quotes. Python allows us to use single quotes, double quotes, or triple quotes to create the string.

In [ ]:
print("Hello")
print('Hello')

**Assign String to a Variable**
Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [ ]:
a = "Hello"
print(a)

Hello

# **Multiline Strings :**

You can assign a multiline string to a variable by using three quotes:

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [ ]:
name="Anand"
Address="""1/79,new street
 jhbkjbkjh bxbvkjxjkxv"""

In [ ]:
#Using single quotes  
str1 = 'Hello Python'  
print(str1) 
 
#Using double quotes  
str2 = "Hello Python"  
print(str2)  
  
#Using triple quotes  
str3 = '''''Triple quotes are generally used for  
    represent the multiline or 
    docstring'''   
print(str3)

Hello Python
Hello Python
''Triple quotes are generally used for
    represent the multiline or
    docstring

# **Strings are Arrays**
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

![strings-indexing-and-splitting.png]()

In [ ]:
a = "Hello, World!"
print(a[1])

e

In [ ]:
print(a[12])

!

In [ ]:
str = "HELLO"  
print(str[0])  
print(str[1])  
print(str[2])  
print(str[3])  
print(str[4])  
# It returns the IndexError because 6th index doesn't exist  
#print(str[6])

H
E
L
L
O

In [ ]:
a="hello "
b="pycoders"
c=10
print(a+b)
print(a+' '+b)
print(a*c)
print(c*a)

hello pycoders
hello  pycoders
hello hello hello hello hello hello hello hello hello hello

In [ ]:
a[2:]

'llo '

In [ ]:
a[3:]

'lo '

In [ ]:
num1="0123456789"
num1[0:7:3]

'036'

![strings-indexing-and-splitting2.png]()

In [ ]:
# Given String  
str = "welcomepython"  
# Start Oth index to end  
print(str[0:])  
# Starts 1th index to 4th index  
print(str[1:5])  
# Starts 2nd index to 3rd index  
print(str[2:4])  
# Starts 0th to 2nd index  
print(str[:3])  
#Starts 4th to 6th index  
print(str[4:7])

welcomepython
elco
lc
wel
ome

In [ ]:
test = "Python Programming"
print("String: ", test)
 
# First one character
first_character = test[:1]
print("First Character: ", first_character)
 
# Last one character
last_character = test[-1:]
print("Last Character: ", last_character)
 
# Everything except the first one character
except_first = test[1:]
print("Except First Char.: ", except_first)
 
# Everything except the last one character
except_last = test[:-1]
print("Except First Char.: ", except_last)
 
# Everything between first and last two character
between_two = test[2:-2]
print("Between two character: ", between_two)
 
# Skip one character
skip_one = test[0:18:2]  # [start:stop:step]
print("Skip one character: ", skip_one)
 
# Reverse String
reverse_str = test[::-1]
print("Reverse String: ", reverse_str)

String:  Python Programming
First Character:  P
Last Character:  g
Except First Char.:  ython Programming
Except First Char.:  Python Programmin
Between two character:  thon Programmi
Skip one character:  Pto rgamn
Reverse String:  gnimmargorP nohtyP

![strings-indexing-and-splitting3.png]()

In [ ]:
py='hello'
py[2:4])

ll

In [ ]:
str = 'JAVATPOINT'  
print(str[-1])  
print(str[-3])  
print(str[-2:])  
print(str[-4:-1])  
print(str[-7:-2])  
# Reversing the given string  
print(str[::-1])  
#print(str[-12])

T
I
NT
OIN
ATPOI
TNIOPTAVAJ

In [ ]:
py="coders"
print(py[::1])
print(py[::-1])

coders
sredoc

In [ ]:
test_string = 'Python Programming'
 
string_reversed = test_string[-1::-1]
print(string_reversed)
 
string_reversed = test_string[::-1]
print(string_reversed)

gnimmargorP nohtyP
gnimmargorP nohtyP

# **Looping Through a String**
Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
a ="Hello"
for a in range(a[5]):
    print(i)

IndexError: ignored

String Length

The len() function returns the length of a string:

In [ ]:
a = "Hello, World!"
len(a)

13

In [ ]:
py="coderskjdlklfhlkhflhDLFFHLJHlkhfdljkhFDKJ"
print(len(py))

41

**Check String**
To check if a certain phrase or character is present in a string, we can use the keyword **in.**

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

# **Reassigning Strings**
Updating the content of the strings is as easy as assigning it to a new string. The string object doesn't support item assignment i.e., A string can only be replaced with new string since its content cannot be partially replaced. Strings are immutable in Python.

In [ ]:
str = "HELLO"    
str[0] = "h"    
print(str)

TypeError: ignored

In [ ]:
str = "HELLO"    
print(str)    
str = "hello"    
print(str)

HELLO
hello

# **Slicing**
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [ ]:
b = "Hello, World!"
print(b[2:5])

llo

In [ ]:
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
b = "Hello, World!"
print(b[2:])

llo, World!

# **Negative Indexing**
Use negative indexes to start the slice from the end of the string:

In [ ]:
#Get the characters:
#From: "o" in "World!" (position -5) ,To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

orl

# **Check if NOT**
To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [ ]:
txt = "The best things in life are free!"
print("best" in txt)

True

# **Python - Modify Strings**

In [ ]:
#The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
num=10
print(num.upper())

AttributeError: ignored

In [ ]:
#The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

In [ ]:
#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [ ]:
#The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("hello", "Anand"))

Hello, World!

In [ ]:
#The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello#World!#hello"
print(a.split('#')) # returns ['Hello', ' World!']

['Hello', 'World!', 'hello']

# **Python - String Concatenation**

In [ ]:
#Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
#To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

# **Python - Format - Strings**

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: ignored

# **String format()**
The format() method allows you to format selected parts of a string.

Sometimes there are parts of a text that you do not control, maybe they come from a database, or user input?

To control such values, add placeholders (curly brackets {}) in the text, and run the values through the format() method:

In [ ]:
#Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:

txt = "For only {price:.2f} dollars!"
print(txt.format(price=50.0986))

For only 50.10 dollars!

In [ ]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "<" to left-align the value:

txt = "We have {:<40} chickens."
print(txt.format(49))

We have 49                                       chickens.

In [ ]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use ">" to right-align the value:

txt = "We have {:>20} chickens."
print(txt.format(49))

We have 49 chickens.

In [ ]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "^" to center-align the value:

txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [ ]:
#To demonstrate, we insert the number 8 to specify the available space for the value.

#Use "=" to place the plus/minus sign at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [ ]:
#Use "+" to always indicate if the number is positive or negative:

txt = "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [ ]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:

txt = "The temperature is between {: } and {: } degrees celsius."

print(txt.format(-3, 7))

In [ ]:
#Use "," to add a comma as a thousand separator:

txt = "The universe is {:,} years old."

print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [ ]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)

The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [ ]:
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.

# **Escape Character**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: ignored

In [ ]:
#The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."

In [ ]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [ ]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [ ]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [ ]:
txt = "Hello\rWorld!"
print(txt)

World!

In [ ]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [ ]:
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [ ]:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

Python String Formatting Using % Operator

In [ ]:
Integer = 10;    
Float = 1.290    
String = "Devansh"    
print("Hi I am Integer ... My value is %d\nHi I am float ... My value is %f\nHi I am string ... My value is %s"%(Integer,Float,String))

Hi I am Integer ... My value is 10
Hi I am float ... My value is 1.290000
Hi I am string ... My value is Devansh

# **String Methods**
Python has a set of built-in methods that you can use on strings.

Note: All string methods returns new values. They do not change the original string.

In [ ]:
#Example: Capitalize a word Copy
a = 'hello world!' 
b = a.capitalize()        
print('Original String:', a)  
print('New String:', b)

Original String: hello world!
New String: Hello world!

In [ ]:
#Example 2: Non-alphabetic First Character
string = "+ is an operator."

new_string = string.capitalize()

print('Old String:', string)
print('New String:', new_string)

Old String: + is an operator.
New String: + is an operator.

In [ ]:
#Example 1: center() Method With Default fillchar
string = "Python is awesome"

new_string = string.center(25)

print("Centered String: ", new_string)

Centered String:                                           Python is awesome

In [ ]:
#Example 2: center() Method With * fillchar
string = "Python is awesome"

new_string = string.center(24, '*')

print("Centered String: ", new_string)

Centered String:  ***Python is awesome****

**Python String casefold()**
The casefold() method is an aggressive lower() method which converts strings to case folded strings for caseless matching.

The casefold() method removes all case distinctions present in a string. It is used for caseless matching, i.e. ignores cases when comparing.

For example, the German lowercase letter  is equivalent to ss. However, since  is already lowercase, the lower() method does nothing to it. But, casefold() converts it to ss.

In [ ]:
#Example 1: Lowercase using casefold()
string = "PYTHON IS AWESOME"

# print lowercase string
print("Lowercase string:", string.casefold())

Lowercase string: python is awesome

In [ ]:
#Example 2: Comparison using casefold()
firstString = "der Flu"
secondString = "der Fluss"

#  is equivalent to ss
if firstString.casefold() == secondString.casefold():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

The strings are equal.

# **count()** Parameters
count() method only requires a single parameter for execution. However, it also has two optional parameters:

substring - string whose count is to be found.
start (Optional) - starting index within the string where search starts.
end (Optional) - ending index within the string where search ends.

In [ ]:
# Example 1: Count number of occurrences of a given substring
# define string
string = "Python is awesome, isn't it?"
substring = "is"

count = string.count(substring)

# print count
print("The count is:", count)

The count is: 2

In [ ]:
#Example 2: Count number of occurrences of a given substring using start and end
# define string
string = "Python is awesome, isn't it?"
substring = "i"

# count after first 'i' and before the last 'i'
count = string.count(substring, 8, 25)

# print count
print("The count is:", count)

The count is: 1

The isalnum() method returns True if all characters in the string are alphanumeric (either alphabets or numbers). If not, it returns False.

In [ ]:
#Example 1: Working of isalnum()
name = "M234onica"
print(name.isalnum())

# contains whitespace
name = "M3onica Gell22er "
print(name.isalnum())

name = "Mo3nicaGell22er"
print(name.isalnum())

name = "133"
print(name.isalnum())

True
False
True
True

In [ ]:
#Example 1: Working of isalnum()
name = "M0n1caG3ll3r"

if name.isalnum() == True:
   print("All characters of string (name) are alphanumeric.")
else:
    print("All characters are not alphanumeric.")

All characters of string (name) are alphanumeric.

The split() method breaks up a string at the specified separator and returns a list of strings.

split() Parameters
The split() method takes a maximum of 2 parameters:

separator (optional)- Delimiter at which splits occur. If not provided, the string is splitted at whitespaces.
maxsplit (optional) - Maximum number of splits. If not provided, there is no limit on the number of splits.

In [ ]:
text = 'Python is a fun programming language'

# split the text from space
print(text.split(' '))

# Output: ['Python', 'is', 'a', 'fun', 'programming', 'language']

['Python', 'is', 'a', 'fun', 'programming', 'language']

In [ ]:
#Example 1: How split() works in Python?
text= 'Love thy neighbor'

# splits at space
print(text.split())

grocery = 'Milk, Chicken, Bread'

# splits at ','
print(grocery.split(', '))

# Splits at ':'
print(grocery.split(':'))

['Love', 'thy', 'neighbor']
['Milk', 'Chicken', 'Bread']
['Milk, Chicken, Bread']

In [ ]:
#Example 2: How split() works when maxsplit is specified?
grocery = 'Milk, Chicken, Bread, Butter'

# maxsplit: 2
print(grocery.split(', ', 2))

# maxsplit: 1
print(grocery.split(', ', 1))

# maxsplit: 5
print(grocery.split(', ', 5))

# maxsplit: 0
print(grocery.split(', ', 0))

['Milk', 'Chicken', 'Bread, Butter']
['Milk', 'Chicken, Bread, Butter']
['Milk', 'Chicken', 'Bread', 'Butter']
['Milk, Chicken, Bread, Butter']